.DS_Store
/Elektronika_K001_DON_Keyboard/Elektronika_K001_DON_Keyboard-backups
*.kicad_prl
Elektronika_K001_DON_Keyboard/fp-info-cache
*.lck
/Elektronika_K001_DON_Power/Elektronika_K001_DON_Power-backups
Elektronika_K001_DON_Power/fp-info-cache
/Elektronika_K001_DON_EPROM/Elektronika_K001_DON_EPROM-backups
Schematic_Scraps/Video_Output/\#auto_saved_files\#
/Schematic_Scraps/Video_Output/Video_Output-backups
*.pxd
Schematic_Scraps/Video_Output/fp-info-cache
