.DS_Store
/Elektronika_K001_DON_Keyboard/Elektronika_K001_DON_Keyboard-backups
*.kicad_prl
Elektronika_K001_DON_Keyboard/fp-info-cache
*.lck
/Elektronika_K001_DON_Power/Elektronika_K001_DON_Power-backups
Elektronika_K001_DON_Power/fp-info-cache
